<!DOCTYPE html>
<html lang="en" ng-app="counter">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
			crossorigin="anonymous"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
		<script src="./script.js"></script>
		<title>Counter App</title>
	</head>
	<body class="d-flex justify-content-center mt-5">
		<div class="d-flex">
			<div class="row" ng-controller="counterController">
				<div class="col-12 text-center">
					<h2>Counter : {{counter}}</h2>
				</div>
				<div class="col-12 d-flex justify-content-center">
					<button ng-click="increment()" class="btn btn-success m-3">
						Increment
					</button>
					<button ng-click="decrement()" class="btn btn-danger m-3">
						Decrement
					</button>
				</div>
			</div>
		</div>
	</body>
</html>
